/* --- TODO --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


:root{
    --primario: #381fd1;
    --secundario: #11284b;
    --blanco: #ffffff;
    --gris: #4b4b4e;
    --blanco2: #f3f2fc;
    --blanco3: #f6f6eb;
}

.grid-container {
    display: grid;
    grid-template: 
    "header    header"   70px
    "main   main"       650px
    "main   main"    480px
    "main   main"    600px
    "footer  footer"     97px / 
    30%       1fr
    ;

}

    /* ---HEADER--- */

.header {
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: center;
    color: var(--primario);
    width: 100%;
    /* height: 80px; */
    font-size: 20px;
    padding: 30px;
    background-color: var(--blanco3);
} 

    /* ---NAVBAR--- */
.nav {
    display: flex;
    color: var(--primario);
    gap: 20px;
    align-items: center;
    font-size: 14px;
} 
.link__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-weight: 700;
}
.li__list {
    list-style: none;
} 
.li__list a {
    text-decoration: none;
    color: var(--primario);
    border-radius: 5px;
    padding: 0px 8px;
    border: solid transparent;
}
.li__list a:hover {
    border: solid var(--primario);
}

    /* ---BUTTONS NAV--- */

.button__nav {
    display: flex;
    gap: 30px;
}
.button__blue {
    width: 150px;
    height: 30px;
    color: var(--blanco);
    background-color: var(--primario);
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
.button__white {
    width: 150px;
    height: 30px;
    color: var(--primario);
    background-color: var(--blanco3);
    border-radius: 5px;
    border: none;
    font-weight: 700;
}
.button__white:hover {
    border: solid var(--primario);
}

    /* ---MAIN--- */

.main{
    grid-area: main;
    background-color: var(--blanco3);
    color: var(--secundario);
}

.title-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 0px 0px;
}
.title-main h2{
    font-size: 48px;
    color: var(--secundario);
    margin: 0px -14px;
    padding: 0px 14px;
}
.title-main p{
    font-size: 20px;
    color: var(--secundario);
    margin: 16px 0px 32px;
    font-weight: 600; 
}

.pricings-grid-container {  /* contenedor de precios con grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 40px 70px 40px 70px
}

.starter-container{  /* price free */
    display: flex;
    border: solid 2px var(--secundario);
    border-radius: 5px;
    max-width:320px;
    max-height: 690px;
    padding: 24px 24px 24px 32px;
    position: relative;
    flex-direction: column;
    gap: 10px;
}
.starter-container li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    padding: 10px;
}
.p__title {
    font-size: 20px;
    font-weight: 600;
}
.p__description {
    font-weight: 600;
}
.price__title {
    font-size: 48px;
}
.p__plan {
    font-weight: 700;
}
.price__button {
    color: var(--secundario);
    border: 2px solid var(--secundario);
    border-radius: 5px;
    margin: 32px 0px 0px;
    padding: 6px 24px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}
.p__li {
    font-weight: 700;
    margin: 0px 0px 0px 8px;
}


/* bussines price modificaciones */
.business__container {
    border: 3px solid var(--primario);
}
.business__container li {
    padding: 5px;
}
.business__icon {
    display: flex;
    position: absolute;
    align-self:center;
    margin-top: -50px;
}
.business__price {
    color: var(--primario);
}
.business__button {
    background-color: var(--primario);
    color: var(--blanco);
    border: var(--primario);
}



    /* ---BANNER--- */

.banner-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
.banner__section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.title__plan {
    font-size: 48px;
    margin: 0px -14.4px;
    padding: 0px 14.4px;
}
.p-plan__description {
    font-size: 20px;
    margin: 16px 124px 40px;
    color: var(--secundario);
}
.banners {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 30px;
}
.banner {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--primario) ;
    border-radius: 10px;
    width: 400px;
    height: 370px;
    text-align: left;
    gap: 10px;
    padding: 20px;
}
.banner img {
    width: 200px;
    height: 140px;
    margin: 0px 0px 12px;
}
.title__banner {
    font-size: 32px;
    margin: 0px 0px 12px;
    color: var(--primario);
}
.p__banner {
    font-weight: 500;
    color: var(--secundario);
}
.mini-p__banner {
    font-weight: 500;
    color: var(--secundario);
}
.title-price__banner {
    font-size: 24px;
    color: var(--secundario);
}   










    /* ---FOOTER--- */

.footer { 
grid-area: footer;
background-color: var(--secundario);        
height: 700px;
display:flex;
}                   
.footer__p {
font-size: 14px;
font-weight: 500;
color: var(--blanco);
}
.resources__container {
display: flex;
flex-direction: column;
color: var(--blanco);
background-color: var(--secundario);
width: 225px;
height: 170px;
gap: 20px;
padding: 20px;
}
.list__container {
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.footer__link {
display: flex;
gap: 10px;
flex-direction: column;
}
.li__footer {
list-style: none;
}
.li__footer a {
font-size: 16px;
font-weight: 500;
text-decoration: none;
color: var(--blanco);
}
            
.final__section {
display: flex;
text-align: center;
align-items: center;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
}
.final__p{
display: flex;
font-size: 16px;
color: var(--blanco);
font-weight: 600;
}
.redes__container {
display: flex;
flex-direction: row;
gap: 20px;
}
.redes__container img {
width: 32px;
}